.container
  .row
    %h1.text-center
      Item tracking

    %table.table-striped.table.table-bordered
      %thead
        %tr
          %th ID
          %th Sold?
          %th Name
          %th Price
          %th Buyers Email

      %tbody
        - @items.each do |item|
          %tr
            %td= item.id
            %td
              - if item.sold
                %b= item.sold
              - else
                = item.sold
            %td= item.name
            %td= item.price
            %td= item.buyer_email
